.card-container{
    color: linen;
    background-color: orange;
    height: inherit;
    width: 100%;
    border-radius: inherit;
}
.content-col-match{
    border: 1px solid black;
    text-align: left;
}
.icon-button {
    color: #007bff; /* Icon color */
    font-size: 24px; /* Icon size */
    padding: 0; /* Reduces button padding */
    border: none; /* Removes border */
    background: none; /* Removes background */
}

.icon-button:hover {
    color: #0056b3; /* Color on hover */
}
.customer-data{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}
.profile-header{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}
.profile-img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 48vh;
    border-radius: inherit;
}
.top-row-card{
    border-radius: inherit;
    height: 50vh;
    background-color: lightseagreen;
}
.bottom-row-card{
    border-radius: inherit;
    background-color: firebrick;
    height: 30vh;
}
.main-card-div{
    border-radius: 10%;
    margin-right: 20%;
    margin-left:20%;
    height: 80vh;
    border: 1px solid black;
}